<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Submitted Information</title>
</head>
<body>
    <div id="container">
    <h1>Submitted Information</h1>    
        <table>
            <tr>
                <td>Name:</td><td><%= name %></td>
            </tr>
            <tr>
                <td>Dojo Location:</td><td><%= location %></td>
            </tr>
            <tr>
                <td>Favorite Language:</td><td><%= language %></td>
            </tr>
            <tr>
                <td>Comment:</td><td><%= comment %></td>
            </tr>
        </table>
        <form action="/">
            <input type="submit" value="Go Back">
        </form>
    </div>

</body>
</html>
