body{
  background-color: grey;
}
div{
  border: 5px solid black;
  padding: 5px;
  display: inline-block;
}
#floatRight{
  float: right;
}

.bar{
  width: 100%;
}
/*#updated_message{
  background-color: green;
  padding: 5px;
  display: inline-block;
  float: left;
}*/
