<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <p> <a href="/"> Home </a> </p>
        <div class = "">
            <form class="" action="/heroes/create" method="post">
                <div class="">
                    <label for=""> Name: </label>
                    <input type="text" name="name">
                </div>
                <div class="">
                    <label for=""> Race: </label>
                    <select class="" name="race">
                        <% for (var race in options.races) { %>
                            <option value= <%= options.races[race] %> > <%= options.races[race] %> </option>
                        <% } %>
                    </select>
                </div>
                <div class="">
                    <label for=""> Class: </label>
                    <select class="" name="class">
                        <% for (var item in options.classes) { %>
                            <option value= <%= options.classes[item] %> > <%= options.classes[item] %> </option>
                        <% } %>
                    </select>
                </div>
                <input type="submit" name="" value="Submit">
            </form>
        </div> <!-- end of Add New Hero Form -->
    </body>
</html>
