<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="bower_components/angular/angular.js"></script>
    <script type='text/javascript'>
        var myAppModule = angular.module('myApp', []);
        // the .controller() method adds a controller to the myAppModule
        myAppModule.controller('studentsController', function ($scope){
            $scope.students = [
                {name: 'Mike', age: 34},
                {name: 'John', age: 24},
                {name: 'Trey', age: 24},
                {name: 'India', age: 35}
            ];
            $scope.addStudent = function (){
                // add to the array
                $scope.students.push($scope.newStudent);
                // clear the form values
                $scope.newStudent = {};
            }
        });
    </script>
    <title>Angular Basics</title>
</head>
<body>
    <h3>{{ 49567 * 2243 }}</h3>
    <h3 ng-bind='49567 * 2243'></h3>
    <div ng-controller='studentsController'>
        <ul>
            <li ng-repeat="student in students">{{student.name}}, {{student.age}}</li>
        </ul>
        <h3>Add a new student!</h3>
            <form>
                Name: <input type='text' ng-model='newStudent.name'>
                Age: <input type='text' ng-model='newStudent.age'>
                <input type='submit' value='add new student' ng-click='addStudent()'>
            </form>
    </div>

</body>
</html>
