<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Survey Results</title>
  </head>
  <body>
    <h3>Name: <%= info.name %></h3>
    <h3>Location: <%= info.location %></h3>
    <h3>Fav Language: <%= info.language%></h3>
    <h3>Comment: <%= info.comment%></h3>
  </body>
</html>
