doctype
html(lang='en')
	head
		meta(charset='utf-8')
		title
		link(rel="stylesheet", href="css/main.css")
		script(src="jquery/dist/jquery.min.js" type="text/javascript")
		script(src="/socket.io/socket.io.js" type="text/javascript")
	body
		.container
			h1 The button has been pushed #[span.num 0] time(s)
			p Push the button to update the count
			button.incrementer(type="button") Push the epic button!
			button.reset Reset count

		script(src="js/app.js", charset="utf-8")
