<!-- Ekapob Ukritnukun -->
<!-- ThaiGQ@gmail.com -->

<html>
    <head>
        <meta charset="utf-8">
        <title>Dojo Survey Index</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/cars_new.css">
    </head>
    <body>
        <div id = "wrapper">
            <div id = "main_content">
                <h1>Ninja Registry</h1>
                <div id = "data">
                    <form action = "/process" method = "post">
                        <div id = "input_names">
                            <label> Name: </label>
                            <label> Dojo Location: </label>
                            <label> Favorite Discipline: </label>
                            <label> Comment (optional): </label>
                        </div>
                        <div id = "input_areas">
                            <input class = "input" type = "text" name = "name" placeholder = "Name of Ninja Master">
                            <select class = "input" name = "dojo">
                                <option value = "Berkley"> Berkley </option>
                                <option value = "Chicago"> Chicago </option>
                                <option value = "Dallas"> Dallas </option>
                                <option value = "Los Angeles"> Los Angeles </option>
                                <option value = "Orange County"> Orange County </option>
                                <option value = "San Jose"> San Jose </option>
                                <option value = "Seattle"> Seattle </option>
                                <option value = "Washington DC"> Washington DC </option>
                            </select>
                            <select class = "input" name = "coding_language">
                                <option value = "C++"> C++ </option>
                                <option value = "C#"> C# </option>
                                <option value = "Java"> Java </option>
                                <option value = "JavaScript"> JavaScript </option>
                                <option value = "PHP"> PHP </option>
                                <option value = "Python"> Python </option>
                                <option value = "Ruby"> Ruby </option>
                                <option value = "SQL"> SQL </option>
                                <option value = "Swift"> Swift </option>
                            </select>
                        </div>
                        <textarea id = "comment" name = "comment" placeholder = "Enter Something Funny!"></textarea>
                        <input id = "register" type = "submit" value = "Register Ninja">
                    </form>
                </div> <!-- end of data -->
            </div> <!-- end of main_content -->
        </div> <!-- end of wrapper -->
    </body>
</html>
