<!-- Ekapob Ukritnukun
ThaiGQ@gmail.com
Track: MEAN
Course: AngularJS
Assignment: Partials and Custom Users -->

<div ng-controller = "usersDisplay">
    <div class="">
        <table>
            <tr>
                <th> Name </th>
                <th> Price </th>
                <th> Favorite Language </th>
            </tr>
            <tr ng-repeat="user in users">
                <td> {{ user.first_name }} </td>
                <td> {{ user.last_name }} </td>
                <td> {{ user.language }} </td>
            </tr >
        </table>
    </div>
</div>
