
<html>
<head>
	<title></title>
</head>
<body>
<h1>Welcome to the Dojo!</h1>
	<h2>This is a form!</h2>

	<form action="/users" method="post">
		Name: <input type="text" name="name">
		<br>
		Dojo Location: 		<select name='location'>
               <option value = "The moon">The moon</option>
               <option value = "Mars">Mars</option>
        </select>
        <br>
		Favourite Language:         <select name='fav_lang'>
               <option value = "Python">Python</option>
               <option value = "Martian">Martian</option>
        </select>
        <br>
		Comment: <input type="text" name="comment">
		<input type="submit" value="go!">
	</form>
</body>
</html>