<html>
<head><title>Survey Result</title></head>
<body>
	Form info:
	<br>
	Name: <%= user_data.name %>
	<br>
	Dojo Location: <%= user_data.location %>
	<br>
	Favourite Language: <%= user_data.fav_lang %>
	<br>
	Comment: <%= user_data.comment %>
	<br>
Thank you for submitting your information.

</body>
</html> 