<!-- Ekapob Ukritnukun -->
<!-- ThaiGQ@gmail.com -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1> Welcome to Quoting Dojo! </h1>
        <div class="">
            <form class="" action="/create" method="post">
                <div class="">
                    <label for=""> Your name: </label>
                    <input type="text" name="name" placeholder="Quote Master">
                </div>
                <div class="">
                    <label for=""> Your Quote: </label>
                    <textarea name="quote" rows="8" cols="80"></textarea>
                </div>
                <input type="submit" value="Submit Quote">
            </form>
            <a href="/quotes"> View Quotes </a>
        </div>
    </body>
</html>
