<!-- Ekapob Ukritnukun -->
<!-- ThaiGQ@gmail.com -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <a href="/"> Home </a>
        <h1> Are you ready to be astounded?! </h1>
        <div class="">
            <% for (quote in quotes) { %>
                <p> <%= quotes[quote].quote %> </p>
                <p> <%= quotes[quote].name %> at <%= quotes[quote].created_at %> </p>
                <hr>
            <% } %>
        </div>
    </body>
</html>
