<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basic Mongoose</title>
</head>
<body>
    <div id="container">
        <h1>Basic Mongoose</h1>
        <div id="form">
            <form class="userForm" action="/users" method="post">
                <label for="name">Name:</label>
                <input type="text" name="name">
                <label for="age">Age:</label>
                <input type="text" name="age">
            </form>
        </div> <!-- end form -->
        <div id="users">
            <table>
                <thead>
                    <tr>
                        <th>Name</th><th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(user of userlist){ %>
                        <tr>
                            <td><%= user.name %></td><td><%= user.age %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div> <!-- end container -->

</body>
</html>
