<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Owls</title>
</head>
<body>
    <h2>Add an Owl!</h2>
	<form action="/addNew" method="post">
		<label for="name">Name: </label>
			<input type="text" name="name">
		<label for="color">Color: </label>
			<input type="text" name="color">
		<input type="submit" value="Submit">
	</form>
</body>
</html>
