<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Owls</title>
</head>
<body>
    <h2>Owl Information</h2>
        <p>Name: <%= owls.name %></p>
        <p>Color: <%= owls.color %></p>
	<a href="/" method="get">Home</a>
    <a href="/<%=owls.id%>/edit">Edit</a>
</body>
</html>
