<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>New Car</title>
		<link rel="stylesheet" href="/get_css">
	</head>
	<body>
		<div class="container">
			<header>
				<h1>Add a car</h1>
			</header>
			<main>
				<form class="car-form" action="/" method="post">
					<input type="text" class="input-field">
					<input type="text" class="input-field">
					<input type="text" class="input-field">
					<input type="text" class="input-field">
					<input type="text" class="input-field">
					<input type="submit" class="route" value="Submit">
				</form>
				<a href="/" class="route">Go Home</a>
			</main>
		</div>
	</body>
</html>
