<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Quote List</title>
</head>
<body>
    <div id="container">
        <h1>Here are the awesome quotes!</h1>
        <div id="quotes">
            <% for(quote of quotes){ %>
                <div class="quote">
                    <p><%= quote.quote %></p>
                </div>
                <div class="author">
                    <p>-<%= quote.name %> at <%= quote._id.getTimestamp().toString() %></p>
                </div>
                <hr />
            <% } %>
        </div> <!-- end quotes -->
    </div> <!-- end container -->

</body>
</html>
